<template>
	<div>
		<input type="text" v-model="field" v-keyboard />
		<br />
		<br />
		<VirtualKeyboard />
	</div>
</template>

<script>
import VirtualKeyboard from "./virtual-keyboard.vue";
import VirtualKeyboardDirective from "./virtual-keyboard-directive.js";

export default {
	data: () => ({
		field: ""
	}),
	components: {
		VirtualKeyboard
	},
	directives: {
		keyboard: VirtualKeyboardDirective
	}
};
</script>