<template>
	<div class="key" v-bind:style="gridStyle" v-bind:class="classes" @mousedown="mousedown">
		<i v-if="icons && icon" v-html="icon" class="icon"></i>
		<span v-else>{{char || action}}</span>
	</div>
</template>

<script>
export default {
	name: "Key",
	props: {
		char: {
			type: String,
			default: undefined
		},
		action: {
			type: String,
			default: undefined
		},
		icon: {
			type: String,
			default: undefined
		},
		colSpan: {
			type: Number,
			default: undefined
		},
		rowSpan: {
			type: Number,
			default: 1
		},
		colShift: {
			type: Number,
			default: undefined
		},
		disabled: {
			type: Boolean,
			default: false
		},
		icons: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		classes() {
			return {
				action: this.action,
				disabled: this.disabled,
				empty: !this.char && !this.icon && !this.action
			};
		},
		gridStyle() {
			return {
				"grid-column": `span ${this.colSpan || 2}`,
				"grid-row": `span ${this.rowSpan || 1}`,
				"margin-left": `calc(30px * ${this.colShift})`
			};
		}
	},
	methods: {
		mousedown(e) {
			e.preventDefault();
			if (this.disabled) return;
			if (this.action) {
				this.$emit(
					"action",
					new CustomEvent("action", {
						detail: this.action,
						cancelable: true
					})
				);
			} else {
				this.$emit(
					"char",
					new CustomEvent("char", {
						detail: this.char,
						cancelable: true
					})
				);
			}
		}
	}
};
</script>

<style scoped>
.key {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	box-shadow: 0 0 0 1px #eaeaea;
	background-color: #fafafa;
	color: #666;
	cursor: pointer;
}

.key.disabled {
	background-color: rgba(255, 255, 255, 0.25);
	color: rgba(0, 0, 0, 0.25);
	cursor: unset;
}

.key.empty {
	background-color: rgba(255, 255, 255, 0);
	box-shadow: unset;
	color: rgba(0, 0, 0, 0);
	cursor: unset;
}

.key:not(.disabled):not(.empty):hover,
.key:not(.disabled):not(.empty):active {
	box-shadow: 0 0 0 1px #dadada;
	background-color: white;
	color: black;
}

@media (hover: none) {
	.key:not(.disabled):not(.empty):hover,
	.key:not(.disabled):not(.empty):active {
		box-shadow: unset !important;
		background-color: #fafafa !important;
		color: #666 !important;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	}
}
</style>